@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kita hapus semua paksaan style di sini agar desain modern 
   dari Tailwind di file page.js bisa bekerja maksimal */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
